body {
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}
.background-area-admin {
  background: url("../images/main-theme.PNG");
  background-repeat: no-repeat;
}

#blog-create-post {
    background-color: rgb(84, 84, 201);
    padding-top: 16vw;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 100%;
    padding-right: inherit;
}

#form-user-registration {
    background-color: rgb(73, 188, 73);
    padding-top: 16vw;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 100%;
    padding-right: inherit;
}
